.menu {}

	.menu-title {
		line-height: 56px;
		color: #fff;
		padding: 0px 20px;
		background-color: #323232;
		cursor: pointer;
	}

	.menu-bar {
		width: 5px;
		height: 55px;
		background-color: #28A745;
		position: absolute;
		left: 0px;
	}

	.menu-box {
		display: none;
		color: #fff;
		padding: 10px 0px;
	}

	.menu-active .menu-box {
		display: block;
	}

	.menu-item {
		line-height: 40px;
		padding-left: 42px;
		cursor: pointer;
		color: #fff;
		text-decoration: none;
	}

	.menu-item-active {
		color: #007aff;
	}